---
import { cn } from "../lib/utils";
import { Items } from "../stores/site";
import { TableOfContents } from "../types";
import SiteSidebarNavLink from "./site-sidebar-nav-link.astro";

const SIDEBAR_DEEP_LEVEL = 2;

interface Props {
  tree: Items;
  level?: number;
}

const { tree, level = 1 } = Astro.props;

if (tree.items?.length === undefined || level > SIDEBAR_DEEP_LEVEL) {
  return null;
}
---

{
  level === 1 ? (
    <ul>
      {tree.items?.map((section) => (
        <li>
          <SiteSidebarNavLink href={section.url} isAnchorLink>
            {section.title}
          </SiteSidebarNavLink>
          {tree.items?.length ? (
            <Astro.self tree={section} level={level + 1} />
          ) : null}
        </li>
      ))}
    </ul>
  ) : null
}

<ul class={cn("", { "pl-4": level !== 1 })}>
  {
    tree.items?.map((section) => (
      <li>
        <SiteSidebarNavLink href={section.url} isAnchorLink>
          {section.title}
        </SiteSidebarNavLink>
        {tree.items?.length ? (
          <Astro.self tree={section} level={level + 1} />
        ) : null}
      </li>
    ))
  }
</ul>
